* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* START CUSTOMIZATION ZONE */

*, :after {
    color: black;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0;
    border-radius: 0 !important;
}

.content {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
}

.header .navigation {
    height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    margin-top: 80px;
}

.header .navigation .buttons {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.header .navigation nav div {
    margin: 0 5px 0 25px;
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
}

.container {
    height: calc(100% - 136px); /* Or whatever */
}

article {
    width: 100%;
}

.container .section1 {
    text-align: right;
    width: 50%;
    float: left;
    padding: 200px 25px 0 0;
}

.container .section1 .headline {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 600;
}

.container .section1 .headline_small {
    font-size: 25px;
    padding: 30px 0 80px 0;
    font-weight: 300;
}

.container .section2 {
    padding: 200px 0 0 25px;
}

.container .section2 p {
    line-height: 26px;
    font-weight: 300;
    padding-top: 22px;
}

.subscribe-form input {
    outline: none;
    background: none;
    width: 460px;
    height: 56px;
    border: 1px solid #000000;
}

.subscribe-form .s_submit {
    cursor: pointer;
}

.timer {
    float: right;
    font-size: 0;
    display: inline-block;
}

.timer div {
    border-bottom-width: 1px;
    box-sizing: border-box;
    padding: 5px 0 5px 20px;
    display: inline-block;
}

.timer .text {
    font-size: 15px;
    text-align: right;
    line-height: 20px;
    display: inline-block;
}

.timer .number {
    font-size: 20px;
    text-align: right;
    line-height: 30px;
    display: inline-block;
    padding: 0 5px 0 0;
}

.timer-container p {
    text-align: right;
    clear: both;
}

.contactform input {
    border-bottom: 1px solid black;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
    font-size: 15px;
    display: block;
    background: none;
    outline: none;
}

.contactform .send {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 10px;
}