* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* START CUSTOMIZATION ZONE */

*, :after {
    color: black;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0;
    border-radius: 0;
}

.content {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    width: 180px;
    margin: 0 auto;
}

.logo>a {
    display: block;
    font-size: 0;
    padding: 10px 0 10px 0;
}

.header .navigation {
    height: 40px;
    box-sizing: border-box;
    box-shadow: inset 0 4px 6px -6px #222,
                inset 0 -4px 6px -6px #222;
}

.header .navigation .buttons {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
}

.header .navigation nav div {
    margin: 0 15px 0 15px;
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
}

.header .navigation nav div:hover {
    color: #ee6557;
    transition: .5s all;
}

.cycle-pager-active {
    color: #ee6557;
}

.container {
    height: calc(100% - 185px); /* Or whatever */
}

.cycle-slideshow, .cycle-slideshow>article {
    height: 100%;
}

article {
    width: 100%;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

/*.home .section1 {
    text-align: right;
    width: 49%;
    float: left;
    padding: 0% 2% 0 0;
    margin: 0 2% 0 0;
    box-sizing: border-box;
}

.home .section2 {
    width: 49%;
    float: left;
}

.home .section1 .headline {
    font-size: 75px;
    text-transform: uppercase;
    font-weight: 600;
}

.home .section1 .headline_small {
    font-size: 25px;
    padding: 50px 0 80px 0;
    font-weight: 300;
}

.home .section2 p {
    line-height: 26px;
    font-weight: 300;
    padding-top: 22px;
    text-align: justify;
}*/

.home .headline {
    font-size: 75px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-family: 'Lora', serif;
}

.home .headline_small {
    font-size: 23px;
    padding: 25px 0 70px 0;
    font-weight: 300;
    text-align: center;
}

.home .social {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 130px;
}

.home .social a {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
}

.home .social i:hover {
    color: #ee6557;
    transform: scale(1.5, 1.5);
    transition: 1s all;
}

.subscribe-form {
    clear: both;
    width: 48%;
    margin: -60px auto 0 auto;
}

.subscribe-form input {
    outline: none;
    background: none;
    width: 430px;
    height: 38px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
}

.subscribe-form .s_submit {
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
    border-width: 2px;
    border-color: #000000;
    text-transform: uppercase;
}

.subscribe-form .s_submit:hover {
    background-color: #000000;
    color: #ffffff;
    transition: .5s all;
}

.timer-container {
    clear: both;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.timer-container div{
    width: 20%;
    display: inline-block;
    margin-right: 3%;
}

.timer-container div:last-child{
    margin-right: 0;
}

.timer-container p {
    text-align: center !important;
    font-size: 14px;
}

.about h1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    padding: 30px 0 30px 0;
    display: inline-block;
    text-transform: uppercase;
}

.about .text {
    text-align: justify;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    text-indent: 50px;
}

.about .motto {
    font-weight: 400;
    font-size: 36px;
    font-style: italic;
    margin: 40px 50px 40px 50px;
    color: darkgrey;
    font-family: 'Abril Fatface', sans-serif;
    border-left: 3px solid lightgray;
    padding-left: 20px;
}

.fa {
    color: #000000;
}

.about figure {
    display: inline-block;
    padding: 100px 4px 80px 4px;
    width: 25%;
    box-sizing: border-box;
    font-size: 45px;
    text-align: center;
    float: left;
}

.about figure p {
    text-align: center !important;
    font-size: 16px;
    padding-top: 25px;
    word-break: break-all;
    margin: 0 !important;
    font-weight: 300;
    text-transform: uppercase;
}

.portfolio .row {
    height: 47%;
    margin: 2% 0;
    overflow: hidden;
}

.portfolio .row:last-child{
    margin: 0;
}

.portfolio>.row>div {
    position: relative;
    float: left;
    height: 100%;
    box-sizing: border-box;
    border: 5px solid lightgray;
}

.portfolio .row.half>div {
    width: 49%;
    margin-right: 2%;
}

.portfolio .row.third>div {
    width: 32%;
    margin-right: 2%;
}

.portfolio>.row>div:last-child {
    margin-right: 0;
}

.portfolio .text {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.8);
}

.portfolio .text h1 {
    border-bottom: 2px solid #000000;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    padding: 5px 0 5px 0;
    display: inline-block;
}

.portfolio .text p {
    font-weight: 300;
    font-size: 14px;
}

.portfolio img {
    display: block;
    float: left;
    box-sizing: border-box;
}

.contact-container {
    width: 100%;
    height: 100%;
}

#map {
  width: 100%;
  height: 50%;
  border: 5px solid lightgray;
  box-sizing: border-box;
  margin-top: 2%;
}

.contacts .row {
    margin: 5% 0 3% 0;
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.contacts .section1 {
    border-right: 1px solid black;
    box-sizing: border-box;
    text-align: right;
    width: 49%;
    float: left;
    padding: 0 2% 0 0;
    margin-right: 2%;
}

.contacts .section2 {
    width: 49%;
    float: left;
}

.contacts figure {
    box-sizing: border-box;
    font-size: 30px;
    line-height: 60px;
    text-align: right;
    float: left;
    width: 100%;
    height: 100%;
}

.contacts figure p {
    display: block;
    font-size: 16px;
    word-break: break-all;
    margin: 0 !important;
    font-weight: 300;
    padding-right: 20px;
    float: right;
}

.contacts figure .fa {
    width: 40px;
    text-align: center;
    float: right;
    height: 60px;
    line-height: 60px;
}

.contactform input {
    border-bottom: 1px solid black;
    width: 65%;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    font-size: 15px;
    line-height: 60px;
    display: block;
    background: none;
    outline: none;
}

.contactform .send {
    cursor: pointer;
    width: auto;
    padding: 8px 50px 8px 50px;
    margin-top: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    line-height: inherit;
    text-transform: uppercase;
}

.contactform .send:hover {
    background-color: #000000;
    color: #ffffff;
    transition: .5s all;
}