* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* START CUSTOMIZATION ZONE */

*, :after {
    color: black;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0;
    border-radius: 0;
}

.content {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 180px;
    margin: 0 auto;
}

.logo>a {
    display: block;
    font-size: 0;
    padding: 10px 0 10px 0;
}

.header .navigation {
    height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    margin-bottom: 20px;
}

.header .navigation .buttons {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
}

.header .navigation nav div {
    margin: 0 5px 0 25px;
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
}

.container {
    height: calc(100% - 142px); /* Or whatever */
}

.cycle-slideshow, .cycle-slideshow>article {
    height: 100%;
}

article {
    width: 100%;
}

.section1 {
    text-align: right;
    width: 48%;
    float: left;
    padding: 0% 2% 0 0;
    margin: 14% 2% 0 0;
}

.section2 {
    margin: 14% 0 0 0;
    width: 48%;
    float: left;
}

.home .section1 .headline {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 600;
}

.home .section1 .headline_small {
    font-size: 25px;
    padding: 50px 0 80px 0;
    font-weight: 300;
}

.home .section2 p {
    line-height: 26px;
    font-weight: 300;
    padding-top: 22px;
    text-align: justify;
}

.subscribe-form {
    padding-top: 140px;
    clear: both;
    width: 48%;
    margin: 0 auto;
}

.subscribe-form input {
    outline: none;
    background: none;
    width: 460px;
    height: 38px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.subscribe-form .s_submit {
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
    border-width: 2px;
}

.timer-container {
    clear: both;
}

.timer-container div{
    width: 130px;
    height: 130px;
    display: inline-block;
}

/*
.timer {
    font-size: 0;
    display: block;
    width: 380px;
    margin: 0 auto;
}

.timer div {
    border-bottom-width: 1px;
    box-sizing: border-box;
    padding: 5px 0 5px 20px;
    display: inline-block;
}

.timer .text {
    font-size: 15px;
    text-align: right;
    line-height: 20px;
    display: inline-block;
}

.timer .number {
    font-size: 20px;
    text-align: right;
    line-height: 30px;
    display: inline-block;
    padding: 0 5px 0 0;
}

.timer-container p {
    text-align: right;
    clear: both;
}
*/

.about h1 {
    text-align: center;
    font-weight: 300;
    font-size: 26px;
    padding: 20px 0 15px 0;
    text-transform: uppercase;
}

.about h2 {
    font-weight: 300;
    font-size: 22px;
    padding: 20px 0 5px 0;
    display: inline-block;
    border-bottom: 2px solid #000000;
    margin-bottom: 10px;
}

.about .text {
    text-align: justify;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    padding: 5px 0 0 0;
}

.fa {
    color: #000000;
}

.about figure {
    display: inline-block;
    padding: 100px 4px 0 4px;
    width: 24.7%;
    box-sizing: border-box;
    font-size: 45px;
    text-align: center;
}

.about figure p {
    text-align: center !important;
    font-size: 16px;
    padding-top: 25px;
    word-break: break-all;
    margin: 0 !important;
    font-weight: 300;
    text-transform: uppercase;
}

.portfolio div {
    position: relative;
}

.portfolio .text {
    position: absolute;
    bottom: 0;
}

.portfolio img {
    display: block;
    float: left;
    border: 10px solid #ffffff;
    box-sizing: border-box;
}

.portfolio .row1 img {
    width: 600px;
    height: 400px;
}

.portfolio .row2 img {
    width: 400px;
    height: 400px;
}

.contacts .section1 {
    border-right: 1px solid black;
    box-sizing: border-box;
}

.contacts img {
    width: 1200px;
    height: 300px;
}

.contacts h1 {
    text-align: center;
    font-weight: 300;
    font-size: 26px;
    padding: 20px 0 15px 0;
    text-transform: uppercase;
}

.contacts figure {
    box-sizing: border-box;
    font-size: 30px;
    line-height: 60px;
    text-align: right;
    /*padding: 15px 0 15px 0;*/
}

.contacts figure p {
    display: inline-block;
    font-size: 16px;
    word-break: break-all;
    margin: 0 !important;
    font-weight: 300;
    padding-right: 20px;
}

.contacts figure .fa {
    width: 40px;
    text-align: center;
}

.contactform input {
    border-bottom: 1px solid black;
    width: 65%;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    font-size: 15px;
    line-height: 60px;
    display: block;
    background: none;
    outline: none;
}

.contactform .send {
    cursor: pointer;
    width: auto;
    padding: 8px 50px 8px 50px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
    line-height: inherit;
}
