
.container {
    display: table;
}

.timer-container, .main-container {
    display: table-cell;
    vertical-align: middle;
}

.g_container {
    display: block;
}

.gallery .g_container>div {
    display: inline-block;
}

.social-container, .subscribe-container {
    display: table;
}

.social, .subscribe {
    display: table-cell;
    vertical-align: middle;
}