
.container {
    display: table;
}

.timer-container, .main-container {
    display: table-cell;
    vertical-align: middle;
}

.g_container {
    display: table;
}

.gallery .g_container>div {
    display: table-cell;
}