html, body, .content {
    min-width: 900px;
}


.container {
    display: table;
    margin: 0 15%;
    width: 70%;
}

.timer-container, .main-container {
    display: table-cell;
    vertical-align: middle;
}

.g_container {
    display: block;
}

.gallery .g_container>div {
    display: inline-block;
}

.social-container, .subscribe-container {
    display: table;
    height: 100%;
    margin-top: -105px;
}

.social, .subscribe {
    display: table-cell;
    vertical-align: middle;
}

.subscribe {
    position: absolute;
    top: 50%;
    margin-top: -70px;/* half of #content height*/
    right: 0;
}

.main {
    margin: 0 auto;
}

.subscribe-form>form, .subscribe-form>p {
    filter: none;
    z-index: 3;
    position: relative;
}

.subscribe-form:before {
    z-index: 1;
    background: rgba(23,23,24,.85);
}