* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    border-color: #ffffff !important;
}

html, body {
    height: 100%;
}

#wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
}

#wrapper > .slide {
    position: fixed !important;
    background-attachment: fixed !important;
    background-position: center center;
}

.slide {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.slide1 {
    background: url(../../images/road-690138_1280.jpg);
}

.slide2 {
    background: url(../../images/road-918701_1920.jpg);
}

.slide3 {
    background: url(../../images/country-road-1149161_1920.jpg);
}

.filter {
    background: url(../../images/filter/1.png);
    background-color: rgba(23,23,24, .6);
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    /*background-size: cover !important;*/
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 100;
    position: relative;
}

.element {
    display: inline-block;
    height: 100%;
    width: 5%;
    animation: skew 3s infinite;
    /*transform: skew(-10deg);*/
    animation-direction: alternate;
    transition: width 1s;
}

.element:hover, .second {
    width: 90%;
}

.first, .third, .second {
    overflow: hidden;
}

.first:hover, .third:hover {
    background-color: #f8f8f8;
}

.second {
    /*background-color: blue;*/
}

.about {
    display: none;
    opacity: 0;
}

.first:hover .about{
    display: block;
    animation: fadein 2s;
    opacity: 1;
}

.about .title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: #000000;
}

.about .separator_1 {
    text-align: center;
    padding-bottom: 20px;
}

.about .info {
    text-align: center;
}

.about figure {
    display: inline-block;
    margin: 30px;
}

.about .fa {
    font-size: 40px;
    border-radius: 50%;
    border: 3px solid #000000 !important;
    padding: 35px;
    color: #000000;
}

.about figure h2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px;
    color: #000000;
}

.about .separator_2 img {
    width: 20px;
}

.about figure p {
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    width: 180px;
    color: #000000;
}

.logo {
    width: 150px;
    margin: 0 auto;
}

.logo > a {
    display: block;
    font-size: 0;
    padding: 10px 0 10px 0;
}

.logo img {
    height: 150px;
}

.text {
    /*transform: skew(10deg);*/
    width: 80%;
    margin: 0 auto;
    /*padding-top: 150px;*/
}

.text .headline1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 0;
}

.text .headline2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.fa {
    color: #ffffff;
}

.text .social {
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 20px 0;
    /*border-bottom: 2px solid #000000;*/
}

.text .social a {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    width: 30px;
    height: 40px;
    margin: 0 5px;
}

/*.text p{
    text-align: justify;
    margin: 40px 60px;
    line-height: 28px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}*/

.text .timer {
    text-align: center;
    padding: 50px 0 70px 0;
    /*background-color: rgba(23,23,24, .6);*/
}

.text .timer .circle {
    display: inline-block;
    border-right: 1px solid #000000;
    height: 125px;
    padding: 0 45px 0 45px;
}

.text .timer .circle:last-child {
    border-right: none;
}

.text .timer .circle .time {
    margin: 5px 0 10px 0;
    text-align: center;
    letter-spacing: 1px;
    font-size: 75px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}

.text .timer .circle h1 {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contact, .about, .center, .side {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /*transform: skew(10deg);*/
}

.third .side .fa, .first .side .fa {
    font-size: 50px;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.side {
    width: 50px;
}

.third .side_right {
    float: right;
}

.contact {
    display: none;
    opacity: 0;
}

.third:hover .contact{
    display: block;
    animation: fadein 2s;
    opacity: 1;
}

@keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100%   { opacity: 1; }
}

.contact .title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.contactform input {
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 600px;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 auto 10px;
    display: block;
    background: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
}

.contactform .send {
    width: auto;
    cursor: pointer;
    background: none;
    padding: 8px 60px;
    margin-top: 20px;
    font-size: 16px;
    border-bottom: 4px solid #ffffff;
}

.contact figure {
    display: inline-block;
    padding: 0 4px;
    width: 250px;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}

.contact figure p {
    text-align: center !important;
    font-size: 14px;
    padding-top: 25px;
    word-break: break-all;
    margin: 0 !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    display: inline-block;
}