* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.social-container {
    height: 100%;
    width: 100px;
    float: left;
    display: flex;
}

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    height: 100%; /* Or whatever */
    justify-content: space-around;
    align-items: center;
}

/*.item {
    border: 1px solid red;
}*/

.social {
    width: 80px;
    height: 300px;
    margin: auto;
}

.social img{
    margin-bottom: 10px;
}

.timer {
    width: 250px;
    height: 600px;
}

.timer div{
    border-bottom: 1px solid #cccccc;
    margin: 0 0 30px 0;
    padding: 0 0 15px 0;
}

.timer div:last-child{
    border-bottom: none;
}

.timer .text{
    font-size: 20px;
    text-align: center;
}

.timer .number{
    font-size: 90px;
    text-align: center;
}

.main {
    width: 700px;
    height: 700px;
}

.main .top{
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
}

.main .top img{
    display: block;
    margin: 0 auto;
}

.main .top p{
    text-align: center;
    font-size: 30px;
    margin: 15px;
}

.main .top .under_text{
    font-size: 25px;
}

.main .buttons div{
    float: left;
    padding: 0 20px 60px 20px;
}

.main .clear{
    clear: both;
}

.main .gallery img{
    border: 3px solid #cccccc;
    margin: 25px;
}

.main .gallery{
    background-color: blue;
}