header, section, footer, aside, nav, main, article, figure {display: block;}

a {text-decoration: none; color:#bbbab0;}

*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

 html, body{
     height:100%;
 }

body, input, textarea,button{
    font-family: 'Raleway';
}

.clear{
    clear: both;
}

main{
    background-color: rgba(0,0,0,0.8);
    padding: 50px 10px;
    height: 400px;
}

.centered{
     width: 1180px;
     padding: 0 10px;
     margin: 0 auto;
}

.centered:after, .row:after {
     clear: both;
     content: "";
     display: table;
}


/*HEADER*/
header{
    position: relative;
    height: 100px;
    margin-bottom: 80px;
    width: 100%;
}

header .logo{
    float: left;
    margin-right: 30px;
}

header .logo img{
    height: 120px;
    background-color: rgba(253, 253, 253, 0.4);
}

header nav{
    float: left;
    height: 99px;
    margin-right: 10px;
    border-bottom: 1px solid black;
}

header nav .menu{
    margin-top: 70px;
}

header nav .menu>li{
    float: left;
    position: relative;
}

header nav .menu>li>a{
    color: black;
    font-size: 22px;
    line-height: 30px;
    margin:0 15px;
}

header nav .menu .submenu{
    border-left: 1px solid black;
    margin-left: 15px;
    margin-top: 15px;
    visibility: hidden;
    position: absolute;
    z-index: 15;
    opacity: 0;
    top: 10px;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

header nav .submenu li a{
     color: black;
     font-size: 18px;
     line-height: 24px;
     margin:0 5px;
}

header nav .menu>li:hover .submenu{
    visibility: visible;
    opacity: 1;
    top: 25px;
}

/*FOOTER*/
footer{
    position: relative;
    z-index: 12;
    height: 40px;
    background-color: rgba(0,0,0,0.8);
}

footer .message{
    color: #bbbab0;
    line-height: 40px;
    font-size: 15px;
    float: left;
}

footer .social-media li{
    float: right;
    padding-top: 4px;
    padding-right: 7px;
}

footer .social-media li a{
    height: 32px;
    width: 32px;
    display: block;
}

footer .social-media li .facebook{
    background-image: url('../images/social/white_facebook.png');
}

footer .social-media li .facebook:hover{
    background-image: url('../images/social/hover/white_facebookh.png');
}

footer .social-media li .pinterest{
    background-image: url('../images/social/white_pinterest.png');
}

footer .social-media li .pinterest:hover{
    background-image: url('../images/social/hover/white_pinteresth.png');
}
footer .social-media li .twitter{
    background-image: url('../images/social/white_twitter_bird.png');
}

footer .social-media li .twitter:hover{
    background-image: url('../images/social/hover/white_twitter_birdh.png');
}
footer .social-media li .heart{
    background-image: url('../images/social/white_heart.png');
}

footer .social-media li .heart:hover{
    background-image: url('../images/social/hover/white_hearth.png');
}
footer .social-media li .podcast{
    background-image: url('../images/social/white_podcast.png');
}

footer .social-media li .podcast:hover{
    background-image: url('../images/social/hover/white_podcasth.png');
}
/*HOME PAGE*/
.wrapper{
    position: relative;
    z-index: 10;
    min-height: 100%;
    overflow: hidden;
    padding-bottom: 55px;
    box-sizing: border-box;
    margin-bottom: -45px;
}

.home{
    padding-bottom: 45px;
    position: relative;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    left: 90px !important;
    width: 35px !important;
    height: 11px !important;
    z-index: 10 !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #EFEFEF !important;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{
    background: #5B564D !important;
}

/*ABOUT*/
.about .row:last-child .cell img{
    margin-top: 22px;

}

.about .cell p{
    color: #bbbab0;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    line-height: 26px;
}

.about .cell{
    width: 540px;
    height: 200px;
    float: left;
    padding-right: 100px;
}

.about .cell:nth-child(2n){
    padding-right: 0;
}

.about .cell img{
    display: block;
    margin: 0 auto;
}

.about .cell img:hover{
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}

/*BLOG*/
.blog .cell1{
     width: 940px;
     float: left;
}

.blog .cell1 div{
     line-height: 20px;
     font-size: 18px;
     text-align: justify;
     color: #bbbab0;
     padding-bottom: 5px;
     border-bottom: 1px solid #bbbab0;
}

.blog .cell1 div:last-child{
     border-bottom: none;
}

.blog .cell1 div:first-child h1{
     padding-top: 0;
}

.blog .cell1 h1{
     color: #bbbab0;
     font-size: 18px;
     padding-top: 9px;
}

.blog .cell1 .stars{
    text-align: center;
    padding-top: 5px;
}

.blog .cell2{
     float: right;
     width: 220px;
}

.blog .cell2 img{
     border: 1px solid #bbbab0;
     display: block;
     margin-bottom: 20px;
}


 /*BLOG2*/
.slider{
    position: relative;
}

 .slider .text-area{
     margin-left: 40px;
     padding-left: 10px;
     border-left: 2px solid #bbbab0;
     height: 90%;
     margin-top: 5%;
     width: 640px;
     float: left;
     box-sizing: border-box;
 }

 .slider img{
     float: left;
     box-sizing: border-box;
     border: 1px solid #bbbab0;
     height: 400px;
     width: 500px;
 }

 .text-area .text{
     font-size: 15px;
     line-height: 26px;
     color: #bbbab0;
     text-align: justify;
 }

 .text-area .date{
     font-size: 13px;
     padding-bottom: 20px;
     color: #bbbab0;
 }

 .slider h1{
     padding-bottom: 20px;
 }

 .text-area .continue{
     font-size: 13px !important;
     font-style: italic;
 }

 .slider button{
     font-size: 20px;
     line-height: 26px;
     color: #bbbab0;
     border: none;
     background-color: rgba(0,0,0,0);
     text-align: left;
     cursor: pointer;
 }

 .slider .blog-sec article{
     width: 1180px;
 }

.text-area .upper {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 6px;
 }

.text-area .semi-paragraf{
    font-weight: bold;
    padding-top: 10px;
}

 .slider .text-area a{
     font-size: 16px;
 }

.slider .text-area a:hover{
    font-weight: bold;
}

.slider .next{
    background-image: url("../images/arrow/next.png");
    background-size: cover;
    position: absolute;
    right: -50px;
    top: 43%;
    width: 50px;
    height: 50px;
}

.slider .next:hover{
    background-image: url("../images/arrow/next2.png");
}

.slider .prev{
    background-image: url("../images/arrow/previous.png");
    background-size: cover;
    position: absolute;
    left: -50px;
    top: 43%;
    width: 50px;
    height: 50px;
}

.slider .prev:hover{
    background-image: url("../images/arrow/previous2.png");
}

/*GALLERY*/
.gallery .photo-gallery img{
     border: 1px solid #bbbab0;
     display: block;
     float: left;
     margin: 0 5px 10px 0;
    cursor: -webkit-zoom-in;
    height: 195px;
    box-sizing: border-box;
}

.gallery .photo-gallery div a:last-child img{
    margin-right: 0;
}

.gallery .row1 a:nth-child(1) img{
    width: 490px;
}
.gallery .row1 a:nth-child(2) img{
    width: 145px;
}
.gallery .row1 a:nth-child(3) img{
    width: 345px;
}
.gallery .row1 a:nth-child(4) img{
    width: 185px;
}


.gallery .row2 a:nth-child(1) img{
    width: 300px;
}
.gallery .row2 a:nth-child(2) img{
    width: 255px;
}
.gallery .row2 a:nth-child(3) img{
    width: 375px;
}
.gallery .row2 a:nth-child(4) img{
    width: 235px;
}
/*TEAM*/
.social{
    float: left;
    width: 265px;
    height: 400px;
    display: block;
    text-align: center;
    line-height:30px;
    margin-right: 40px;

    position: relative;
    transform: rotateY(0deg);
    transition: transform .25s ease-out;
    -web-transition: transform .25s ease-out;
    transform-style: preserve-3d;
}

.social:last-child{
    margin-right: 0;
}

.social > div {
     position: absolute; top: 0; left: 0; right: 0; bottom: 0;
     border-radius: 15px;
}

.social >.front {
    transform:translateZ(40px);
    background: url("http://cdns2.freepik.com/free-photo/fabric-vector-background_23-2147491263.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #bbbab0;
}

.social >.back {
     background: url("http://cdns2.freepik.com/free-photo/dark-gray-perforated-background_23-2147491256.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
     font-size: 20px;
     border: 1px solid #bbbab0;
     background-color: #555;
     transform:rotateY(-100deg) translateZ(40px);
}

.social:hover {
     transform: rotateY(100deg);
}

/*TEAM2*/
.team .cell{
    float: left;
    width: 265px;
    height: 400px;
    display: block;
    text-align: center;
    line-height:30px;
    margin-right: 40px;
    border-top: 2px solid #bbbab0;
    border-bottom: 2px solid #bbbab0;
}

.team .cell svg{
    width: 265px;
}

.cell:last-child{
    margin-right: 0;
}

.team img{
    margin-top: 50px;
    border: 1px solid #bbbab0;
    text-align: center;
}

.team .name{
    padding-top: 15px;
    font-size: 19px;
    color: #bbbab0;
}

.team .job{
    padding-top: 15px;
    font-size: 15px;
    color: #bbbab0;
}

.team .cell .hover{
    position: absolute;
    top: 35%;
    transform: translateY(-30px);
    opacity: 0;
    transition: transform 0.4s 0.4s ease-out, opacity 0.3s ease-in-out;
    width: 90%;
    margin-left: 5%;
}

.team .cell:hover .hover{
    transform: translateY(0);
    opacity: 1;
}

.team .cell .text{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    padding: 15px 40px 15px 40px;
}


/*CONTACT*/
.contact .cell{
     width: 380px;
     float: left;
     border-right: 1px solid #bbbab0;
     height: 400px;
     padding: 0 9px 0 10px;
}

.contact .cell:first-child{
     padding: 0 9px 0 0;
}

.contact .cell:last-child{
     padding: 0 0 0 10px;
     border-right: none;
}

.contact .contact-form input, .contact .contact-form textarea, .contact .contact-form button{
    font-size: 14px;
    color: #bbbab0;
    background-color: rgba(0,0,0,0);
    border: none;
}

.contact .cell .contact-form input{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #bbbab0;
    border-radius: 0;
}

.contact .cell .contact-form textarea{
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #bbbab0;
    padding-top: 15px;
    border-radius: 0;
}

.contact .cell .contact-form button{
    width: 100px;
    height: 30px;
    text-align: left;
    cursor: pointer;
}

textarea:focus, input:focus{
     outline: 0;
}

textarea{
     resize: none;
}

.contact .cell p{
     color: #bbbab0;
     font-size: 16px;
     line-height: 35px;
     text-align: center;
}

.contact .cell .small-space{
     padding-top:20px;
}

.contact .cell p:first-child{
    padding-top: 60px;
}

.contact .cell img{
     border: 1px solid #bbbab0;
     display: block;
     margin: 0 auto;
     margin-top: 50px;
}

.portf h1 {
    color: #bbbab0;
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
    font-weight: normal;
}

.portf .cell .photo-portfolio .text{
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    padding: 15px 40px 15px 40px;
}
 /*PORTFOLIO2*/
 .portfolio2 .cell{
     width: 580px;
     float: left;
     border-right: 1px solid #bbbab0;
     height: 400px;
     padding: 0 9px 0 10px;
 }

 .portfolio2 .cell:first-child{
     padding: 0 9px 0 0;
 }

 .portfolio2 .cell:last-child{
     padding: 0 0 0 10px;
     border-right: none;
 }

 .portfolio2 .cell img{
     transition: all 1s ease;
     display: block;
 }

 .portfolio2 .cell .photo-portfolio{
     overflow: hidden;
     position: relative;
     border: 1px solid #bbbab0;
 }

 .portfolio2 .cell:hover .photo-portfolio img{
     transform: scale(1.10);
 }

 .portfolio2 .cell .photo-portfolio .hover{
     position: absolute;
     top: 35%;
     transform: translateY(-30px);
     opacity: 0;
     transition: transform 0.4s 0.4s ease-out, opacity 0.3s ease-in-out;
     width: 90%;
     margin-left: 5%;
 }

 .portfolio2 .cell:hover .photo-portfolio .hover{
     transform: translateY(0);
     opacity: 1;
 }

 .portfolio2 .cell .photo-portfolio .hoverbg{
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0;
     background-color: black;
     opacity: 0;
 }

 .portfolio2 .cell:hover .photo-portfolio .hoverbg{
     opacity:0.2;
 }


/*PORTFOLIO3*/
 .portfolio3{
     background-color: rgba(0,0,0,0.8);
     padding: 50px 10px;
     height: 400px;
 }

 .portfolio3 .cell{
     width: 380px;
     float: left;
     border-right: 1px solid #bbbab0;
     height: 400px;
     padding: 0 9px 0 10px;
 }

 .portfolio3 .cell:first-child{
     padding: 0 9px 0 0;
 }

 .portfolio3 .cell:last-child{
     padding: 0 0 0 10px;
     border-right: none;
 }

 .portfolio3 .cell img{
     transition: all 1s ease;
     display: block;
 }

 .portfolio3 .cell h1{
     color: #bbbab0;
     font-size: 17px;
     line-height: 50px;
     text-align: center;
     height: 50px;
     box-sizing: border-box;
     font-weight: normal;
 }

 .portfolio3 .cell .photo-portfolio{
     overflow: hidden;
     position: relative;
     border: 1px solid #bbbab0;
 }

.portfolio3 .cell:hover .photo-portfolio img{
    transform: scale(1.10);
}

.portfolio3 .cell .photo-portfolio .hover{
    position: absolute;
    top: 35%;
    transform: translateY(-30px);
    opacity: 0;
    transition: transform 0.4s 0.4s ease-out, opacity 0.3s ease-in-out;
    width: 90%;
    margin-left: 5%;
}

.portfolio3 .cell:hover .photo-portfolio .hover{
    transform: translateY(0);
    opacity: 1;
}

.portfolio3 .cell .photo-portfolio .hoverbg{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: black;
    opacity: 0;
}

.portfolio3 .cell:hover .photo-portfolio .hoverbg{
    opacity:0.2;
}


 /*PORTFOLIO4*/
 .portfolio4 .cell{
     width: 280px;
     float: left;
     border-right: 1px solid #bbbab0;
     height: 400px;
     padding: 0 9px 0 10px;
 }

 .portfolio4 .cell:first-child{
     padding: 0 9px 0 0;
 }

 .portfolio4 .cell:last-child{
     padding: 0 0 0 10px;
     border-right: none;
 }

 .portfolio4 .cell img{
     transition: all 1s ease;
     display: block;
 }

 .portfolio4 .cell .photo-portfolio{
     overflow: hidden;
     position: relative;
     border: 1px solid #bbbab0;
 }

.portfolio4 .cell:hover .photo-portfolio img{
    transform: scale(1.10);
}

.portfolio4 .cell .photo-portfolio .hover{
    position: absolute;
    top: 35%;
    transform: translateY(-30px);
    opacity: 0;
    transition: transform 0.4s 0.4s ease-out, opacity 0.3s ease-in-out;
    width: 90%;
    margin-left: 5%;
}

.portfolio4 .cell:hover .photo-portfolio .hover{
    transform: translateY(0);
    opacity: 1;
}

.portfolio4 .cell .photo-portfolio .hoverbg{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: black;
    opacity: 0;
}

.portfolio4 .cell:hover .photo-portfolio .hoverbg{
    opacity:0.2;
}


/*BLOG POST*/
.bpost .text-area{
    margin-left: 40px;
    height: 100%;
    width: 640px;
    float: left;
    box-sizing: border-box;
}

.bpost img{
    float: left;
    box-sizing: border-box;
    border: 1px solid #bbbab0;
    height: 400px;
    width: 500px;
}

.bpost h1{
    font-size: 22px;
    color: #bbbab0;
    padding-bottom: 20px;
}

.bpost .text{
    padding: 0 15px;
    border-left: 2px solid #bbbab0;
}

.comment h1{
    margin-top: 45px;
}

.comm .name-date{
    float: right;
    width: 518px;
    margin-bottom: 15px;
}

.comm .name{
    float: left;
    font-size: 15px;
    letter-spacing: 1px;
    font-style: italic;
}

.comm p{
    font-size: 13px;
}

.comm span{
    font-size: 13px;
    font-style: italic;
    float: right;
    letter-spacing: 1px;
}

.comment img{
    width: 80px;
    height: 60px;
    margin-right: 15px;
}

.comment .comm {
    margin-bottom: 10px;
}

.comment .comment-form{
    margin-top: 30px;
}

.comment-form input, .comment-form textarea, .comment-form button{
    width: 320px;
    height: 35px;
    border: 1px solid #bbbab0;
    background-color: rgba(0,0,0,0);
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    color: #bbbab0;
    font-size: 14px;
}

.comment-form textarea{
    height: 100px;
    margin: 15px 0;
    display: block;
}

.comment .comment-form button{
    width: 100px;
}




/* rewrite here */
nav {
    width:600px;
    margin: 0 auto;
}

.navigation {
    margin-top: 68px;
}

.navigation li {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 20%;
}

.navigation>li>a{
    display: inline-block;
    /*width: 25%;*/
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
}

.navigation .submenu{
    margin-left: 15px;
    padding-top: 15px;
    visibility: hidden;
    position: absolute;
    z-index: 15;
    opacity: 0;
    top: 10px;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.navigation .submenu li{
    display: block;
    border-left: 1px solid #000;
    transition: .2s ease-in-out;
}

.navigation .submenu li a{
    color: black;
    font-size: 13px;
    line-height: 28px;
    margin:0 5px;
    text-transform: uppercase;
}

.navigation>li:hover .submenu{
    visibility: visible;
    opacity: 1;
    top: 25px;
}

.submenu li:hover {
    border-left: 3px solid #000000;

}

.two.active ~ hr {
    margin-left: 20%;
}

.three.active ~ hr {
    margin-left: 40%;
}

.four.active ~ hr {
    margin-left: 60%;
}

.five.active ~ hr {
    margin-left: 80%;
}

.one:hover ~ hr {
    margin-left: 0%;
}

.two:hover ~ hr {
    margin-left: 20%;
}

.three:hover ~ hr {
    margin-left: 40%;
}

.four:hover ~ hr {
    margin-left: 60%;
}

.five:hover ~ hr {
    margin-left: 80%;
}

hr {
    height: 3px;
    width: 20%;
    margin: 0;
    background: #000;
    border: none;
    transition: .3s ease-in-out;
    position: relative;
    top: -1px;
}



/*SVG*/
.team .cell{
    border: none;
}

.border{
    position: relative;
    top: -410px;
}
.shape {
    fill: transparent;
    stroke-width: 5px;
    stroke: #fff;
    stroke-dasharray: 178 484;
    stroke-dashoffset: -2031;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s, stroke-opacity 1s;
}

.cell:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 13273;
    fill-opacity: 0.6;
    fill: #000;
}

@media screen and (max-width: 1310px) {
    .slider .blog-sec article{
        width: 870px;
        padding-top: 50px;
        padding-left: 4px;
    }

    .slider{
        width: 870px;
    }

    .slider img{
        width: 300px;
        height: auto;
    }

    .slider .text-area{
        margin-left: 20px;
        width: 400px;
    }
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1200px) {
    .centered, .sliderContainer {
        width: 980px;
    }

    .about .cell {
        width: 480px;
        padding-right: 20px;
    }

    .contact .cell {
        width: 310px;
    }

    .team .cell {
        width: 230px;
        margin-right: 15px;
        border: 2px solid #ffffff;
        box-sizing: border-box;
    }

    .team .cell svg{
        width: 230px;
    }

    .shape {
        stroke-width: 0;
    }
    .cell:hover .shape {
        stroke-width: 0;
        fill-opacity: 0;
    }
    .portfolio3 .cell{
        width: 310px;
    }

    .portfolio2 .cell{
        width: 480px;
    }

    .portfolio4 .cell{
        width: 230px;
    }

    .portf .cell .photo-portfolio .text{
        padding: 15px;
    }

    .slider .blog-sec article{
        width: 870px;
        padding-top: 50px;
        padding-left: 4px;
    }

    .slider{
        width: 870px !important;
    }

    .slider img{
        width: 400px;
        height: 320px;
    }

    .bpost .text-area{
        margin-left: 15px;
        width: 555px;
    }

    .bpost img{
        width: 400px;
        height: 320px;
    }

    .bpost .nano{
        width: 565px !important;
    }

    .comment img{
        width: 80px;
        height: 60px;
        margin-right: 15px;
    }

    .nano-pane{
        opacity: 1 !important;
    }

    .comm .name-date{
        width: 425px;
    }




    .gallery .row1 a:nth-child(1) img{
        width: 380px;
    }
    .gallery .row1 a:nth-child(2) img{
        width: 120px;
    }
    .gallery .row1 a:nth-child(3) img{
        width: 300px;
    }
    .gallery .row1 a:nth-child(4) img{
        width: 150px;
    }


    .gallery .row2 a:nth-child(1) img{
        width: 250px;
    }
    .gallery .row2 a:nth-child(2) img{
        width: 210px;
    }
    .gallery .row2 a:nth-child(3) img{
        width: 290px;
    }
    .gallery .row2 a:nth-child(4) img{
        width: 200px;
    }
}

@media only screen and (min-device-width: 876px) and (max-device-width: 999px) {
    .centered, .sliderContainer {
        width: 847px;
    }

    main {
        height: auto;
    }

    .portfolio3 .cell {
        width: 269px;
    }

    .portfolio2 .cell {
        width: 413px;
    }

    .portfolio4 .cell {
        width: 195px;
    }

    .about .cell {
        float: none;
        margin: 0 auto;
    }

    .contact .cell {
        width: 269px;
    }

    .team .cell {
        /* width: 230px; */
        margin-right: 155px;
        margin-bottom: 25px;
    }

    .bpost .nano {
        width: 420px !important;
    }

    .bpost .text-area{
        width: 455px !important;
    }

    .bpost img {
        width: 350px;
        height: auto;
    }

    .comm .name-date{
        width: 280px;
    }

    .nano-pane{
        opacity: 1 !important;
    }

    .comment img{
        width: 80px;
        height: 60px;
        margin-right: 15px;
    }
}

@media only screen and (max-device-width: 875px) {
    .centered, .sliderContainer {
        width: 748px;
    }

    main.gallery, main.about, main.team {
        height: auto;
    }

/*temporary nav*/
    nav {
        width: 550px;
        margin: 0 auto;
    }


    .portfolio3 .cell {
        width: 235px;
    }

    .portfolio2 .cell {
        width: 363px;
    }

    .portfolio4 .cell {
        width: 171px;
    }

    .portf .cell .photo-portfolio .text{
        padding: 0;
    }

    .about .cell {
        float: none;
        margin-left: 75px;
        width: 565px;
    }

    .contact .cell {
        width: 235px;
    }

    .team .cell {
        margin: 25px 52px;
        box-sizing: border-box;
        border: 2px solid #fff;
    }

    .shape {
        stroke-width: 0;
    }
    .cell:hover .shape {
        stroke-width: 0;
        fill-opacity: 0;
    }
    
    .bpost .nano {
        width: 408px !important;
        overflow: hidden;
    }

    .bpost .text-area{
        width: 408px !important;
        overflow: hidden;
        margin-left: 15px;
    }

    .bpost img {
        width: 300px;
        height: auto;
    }

    .blog2 .text-area .text{
        overflow: hidden;
        max-height: 103px;
    }

    .comm .name-date{
        width: 270px;
        color: red;
    }

    .nano-pane{
        opacity: 1 !important;
    }

    .comment img{
        width: 80px;
        height: 60px;
        margin-right: 15px;
    }

    .gallery .row1 a:nth-child(1) img{
        width: 282px;
    }
    .gallery .row1 a:nth-child(2) img{
        width: 100px;
    }
    .gallery .row1 a:nth-child(3) img{
        width: 250px;
    }
    .gallery .row1 a:nth-child(4) img{
        width: 100px;
    }


    .gallery .row2 a:nth-child(1) img{
        width: 180px;
    }
    .gallery .row2 a:nth-child(2) img{
        width: 170px;
    }
    .gallery .row2 a:nth-child(3) img{
        width: 250px;
    }
    .gallery .row2 a:nth-child(4) img{
        width: 132px;
    }

    .gallery .photo-gallery img{
        height: 178px;
    }
}
