 a {text-decoration: none;}

*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

 html, body{
     height:100%;
 }

body, input, textarea,button{
    font-family: 'Josefin Slab', serif;
}

.clear{
    clear: both;
}

.centered{
     width: 1180px;
     padding: 0 10px;
     margin: 0 auto;
}

.centered:after, .row:after {
     clear: both;
     content: "";
     display: table;
}


/*HEADER*/
.header{
    position: relative;
    z-index: 30;
    height: 100px;
    /*background-color: rgba(300,300,300,0.9);*/
    margin-bottom: 80px;
    width: 100%;
}

.header .logo{
    float: left;
    height: 100px;
    margin-top: 15px;
}

.header .navigation .menu>li>a{
    color: black;
    font-size: 20px;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.header .navigation{
    float: left;
    height: 99px;
    margin-right: 10px;
    border-bottom: 1px solid black;
}

.header .navigation .menu>li{
    float: left;
}

.header .navigation .menu{
    margin-top: 70px;
}

.header .navigation .menu .submenu{
    border-left: 1px solid black;
    margin-left: 15px;
    margin-top: 10px;
    display: none;
}

.header .navigation .submenu li a{
     color: black;
     font-size: 18px;
     line-height: 24px;
     margin-left: 5px;
}

.header .navigation .menu>li:hover .submenu{
     display: block;
}


/*FOOTER*/
.footer{
    position: relative;
    z-index: 30;
    height: 40px;
    background-color: rgba(0,0,0,0.8);
    margin-top: -45px;
}

.footer .message{
    color: #bbbab0;
    line-height: 40px;
    font-size: 20px;
    float: left;
}

.footer .social-media li{
    float: right;
    padding-top: 2px;
    padding-right: 7px;
}

.footer .social-media li a{
    height: 38px;
}


/*HOME PAGE*/
.wrapper{
     position: relative;
     z-index: 30;
     height: 100%;
     overflow: hidden;
}

.background{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background div{
    width: 100%;
}

.content-home{
    padding-bottom: 45px;
}

.content-home .title{
    line-height: 65px;
    font-size: 55px;
    margin-bottom: 80px;
}

.content-home .description{
    width: 460px;
    line-height: 25px;
    font-size: 20px;
    text-align: justify;
}


/*ABOUT*/
.content-about{
    background-color: rgba(0,0,0,0.8);
    padding: 50px 10px;
    height: 400px;
}

.content-about .row:last-child .cell img{
    margin-top: 22px;

}

.content-about .cell p{
    color: #bbbab0;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    line-height: 24px;
}

.content-about .cell{
    width: 540px;
    height: 200px;
    float: left;
    padding-right: 100px;
}

.content-about .cell:nth-child(2n){
    padding-right: 0;
}

.content-about .cell img{
    display: block;
    margin: 0 auto;
}


/*BLOG*/
.content-blog{
     background-color: rgba(0,0,0,0.8);
     padding: 50px 10px;
     height: 400px;
}

.content-blog .cell1{
     width: 940px;
     float: left;
}

.content-blog .cell1 div{
     line-height: 20px;
     font-size: 18px;
     text-align: justify;
     color: #bbbab0;
     padding-bottom: 5px;
     border-bottom: 1px solid #bbbab0;
}

.content-blog .cell1 div:last-child{
     border-bottom: none;
}

.content-blog .cell1 div:first-child h1{
     padding-top: 0;
}

.content-blog .cell1 h1{
     color: #bbbab0;
     font-size: 18px;
     padding-top: 9px;
}

.content-blog .cell1 .stars{
    text-align: center;
    padding-top: 5px;
}

.content-blog .cell2{
     float: right;
     width: 220px;
}

.content-blog .cell2 img{
     border: 1px solid #bbbab0;
     display: block;
     margin-bottom: 20px;
}


/*GALLERY*/
.content-gallery{
    background-color: rgba(0,0,0,0.8);
    padding: 50px 10px;
    height: 400px;
}

.content-gallery .photo-gallery img{
     border: 1px solid #bbbab0;
     display: block;
     float: left;
     margin: 0 5px 10px 0;
}

.content-gallery .photo-gallery div img:last-child{
    margin-right: 0;
}


/*TEAM*/
.content-team{
     background-color: rgba(0,0,0,0.8);
     padding: 50px 10px;
     height: 400px;
}

.social{
     float: left;
     width: 265px;
     height: 400px;
     display: block;
     text-align: center;
     line-height:30px;
     margin-right: 40px;

     position: relative;
     transform:rotateY(0deg);
     transition:transform .25s ease-out;
     transform-style:preserve-3d;
}

.social:last-child{
    margin-right: 0;
}

.social > div {
     position: absolute; top: 0; left: 0; right: 0; bottom: 0;
}

.social >.front {
    transform:translateZ(40px);
    background: url("http://cdns2.freepik.com/free-photo/dark-gray-perforated-background_23-2147491256.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    /*background: url("http://subtlepatterns.com/patterns/natural_paper.png") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    /*background: url("http://www.designbolts.com/wp-content/uploads/2013/02/Rough-Grey-Seamless-Pattern-For-Website-Background.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    /*background: url("http://www.designbolts.com/wp-content/uploads/2013/02/Old-Husk-Grey-Seamless-Pattern-For-Website-Background.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    /*background: url("http://www.designbolts.com/wp-content/uploads/2013/02/Rough-Cloth-Grey-Seamless-Pattern-For-Website-Background.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    /*background: url("http://www.designbolts.com/wp-content/uploads/2013/02/Noise-Light-Grey-Tileable-Pattern-For-Website-Background.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    /*background: url("http://www.designbolts.com/wp-content/uploads/2013/02/Cork-Grey-Seamless-Pattern-For-Website-Background.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    border: 1px solid #bbbab0;
}

.social >.back {
     background: url("http://cdns2.freepik.com/free-photo/dark-gray-perforated-background_23-2147491256.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
     font-size: 20px;
     border: 1px solid #bbbab0;
     background-color: #555;
     transform:rotateY(-100deg) translateZ(40px);
}

.social:hover {
     transform: rotateY(100deg);
}

.content-team img{
    margin-top: 50px;
    border: 1px solid #bbbab0;
    text-align: center;
}

.content-team .name{
    padding-top: 15px;
    font-size: 20px;
    color: #bbbab0;
}

.content-team .job{
    padding-top: 15px;
    font-size: 15px;
    color: #bbbab0;
}

.content-team .back-text{
    padding: 100px 10px 50px 10px;
    color: #bbbab0;
}


/*.content-team .border{
    height: 394px;
    border: 1px solid darkslategray;
}*/


/*CONTACT*/
.content-contact{
     background-color: rgba(0,0,0,0.8);
     padding: 50px 10px;
     height: 400px;
}

.content-contact .cell{
     width: 380px;
     float: left;
     border-right: 1px solid #bbbab0;
     height: 400px;
     padding: 0 9px 0 10px;
}

.content-contact .cell:first-child{
     padding: 0 9px 0 0;
}

.content-contact .cell:last-child{
     padding: 0 0 0 10px;
     border-right: none;
}

.content-contact .cell .contact-form input{
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #bbbab0;
    background-color: rgba(0,0,0,0);
    color: #bbbab0;
}

.content-contact .cell .contact-form textarea{
     width: 100%;
     height: 250px;
     border: none;
     border-bottom: 1px solid #bbbab0;
     background-color: rgba(0,0,0,0);
     color: #bbbab0;
}

.content-contact .cell .contact-form button{
     width: 100px;
     height: 30px;
     border: none;
     background-color: rgba(0,0,0,0);
     color: #bbbab0;
     text-align: left;
     cursor: pointer;
}

textarea:focus, input:focus{
     outline: 0;
}

textarea{
     resize: none;
}

.content-contact .cell p{
     color: #bbbab0;
     font-size: 20px;
     text-align: center;
}

.content-contact .cell .small-space{
     padding-top:10px;
}

.content-contact .cell p:first-child{
    padding-top: 100px;
}

.content-contact .cell img{
     border: 1px solid #bbbab0;
     display: block;
     margin: 0 auto;
     margin-top: 50px;
}


/*PORTFOLIO*/
.content-portfolio{
     background-color: rgba(0,0,0,0.8);
     padding: 50px 10px;
     height: 400px;
}

.content-portfolio .cell{
     width: 180px;
     float: left;
     border-right: 1px solid #bbbab0;
     height: 400px;
     padding: 0 9px 0 10px;
}

.content-portfolio .cell:first-child{
     padding: 0 9px 0 0;
}

.content-portfolio .cell:last-child{
     padding: 0 0 0 10px;
     border-right: none;
}

.content-portfolio .cell img{
     border: 1px solid #bbbab0;
     display: block;
}

.content-portfolio .cell h1{
     color: #bbbab0;
     font-size: 22px;
     text-align: center;
     padding-top: 10px;
}


/*BLOG POST*/
.content-blogpost{
     background-color: rgba(0,0,0,0.8);
     padding: 50px 10px;
     height: 400px;
}

.content-blogpost .cell1{
     width: 380px;
     float: left;
     padding-right: 20px;
}

.content-blogpost .cell1 img{
     border: 1px solid #bbbab0;
}

.content-blogpost .cell2{
     width: 780px;
     float: left;
}

.content-blogpost .cell2 div{
     line-height: 20px;
     font-size: 18px;
     text-align: justify;
     color: #bbbab0;
     padding-bottom: 10px;
}

.content-blogpost .cell2 h1{
      color: #bbbab0;
      font-size: 22px;
 }

.content-blogpost .cell2 h2{
     color: #bbbab0;
     font-size: 16px;
     text-align: right;
}

.content-blogpost .cell2 p{
     color: #bbbab0;
     font-size: 17px;
     text-align: justify;
     text-indent: 30px;
     padding-top: 10px;
     height: 400px;
}