 a {text-decoration: none;}

*{
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;
}

.wrapper{

}

body{
    background-image: url("../images/Dior-classic-1.jpg");
}

.clear{
    clear: both;
}

.centered{
     width: 1180px;
     padding: 0 10px;
     margin: 0 auto;
}

/*HEADER*/
.header{
    margin-bottom: 80px;
}

.header .logo{
    float: left;
    height: 107px;
}

.header .navigation a{
    color: black;
    font-size: 20px;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.header .navigation{
    float: left;
    height: 106px;
    margin-right: 10px;
    border-bottom: 1px solid black;
}
.header .navigation li{
    float: left;
}

.header .navigation .menu{
    margin-top: 76px;
}

/*FOOTER*/
.footer{
    height: 40px;
    background-color: rgba(0,0,0,0.8);
    margin-top: 80px;
}

.footer .message{
    color: #bbbab0;
    line-height: 40px;
    font-size: 20px;
    float: left;
}

.footer .social-media li{
    float: right;
    padding-top: 2px;
}

.footer .social-media li a{
    height: 38px;
}

/*HOME PAGE*/
.content-home .title{
    line-height: 65px;
    font-size: 55px;
    margin-bottom: 80px;
}

.content-home .description{
    width: 460px;
    line-height: 25px;
    font-size: 20px;
    text-align: justify;
}

/*ABOUT*/
.content-about{
    background-color: rgba(0,0,0,0.8);
    padding: 50px 10px;
    height: 400px;
}

.content-about .cell1{
    width: 940px;
    float: left;
}

.content-about .cell1 div{
    line-height: 20px;
    font-size: 18px;
    text-align: justify;
    color: #bbbab0;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbbab0;
}

.content-about .cell1 div:last-child{
    border-bottom: none;
}

.content-about .cell1 div:first-child h1{
    padding-top: 0;
}

.content-about .cell1 h1{
    color: #bbbab0;
    font-size: 18px;
    padding-top: 9px;
}

.content-about .cell2{
    float: right;
    width: 220px;
}

.content-about .cell2 p{
    color: #bbbab0;
    font-size: 14px;
    text-align: center;
}

.content-about .small-space{
     padding-top:10px;
 }

.content-about .cell2 img{
    border: 1px solid #bbbab0;
}

/*NEWS*/
.content-news{
     background-color: rgba(0,0,0,0.8);
     padding: 50px 10px;
     height: 400px;
}

.content-news .cell1{
     width: 940px;
     float: left;
}

.content-news .cell1 div{
     line-height: 20px;
     font-size: 18px;
     text-align: justify;
     color: #bbbab0;
     padding-bottom: 10px;
     border-bottom: 1px solid #bbbab0;
}

.content-news .cell1 div:last-child{
     border-bottom: none;
}

.content-news .cell1 div:first-child h1{
     padding-top: 0;
}

.content-news .cell1 h1{
     color: #bbbab0;
     font-size: 18px;
     padding-top: 9px;
}

.content-news .cell2{
     float: right;
     width: 220px;
}

.content-news .cell2 img{
     border: 1px solid #bbbab0;
     display: block;
     margin-bottom: 20px;
}


/*GALLERY*/
.content-gallery{
    background-color: rgba(0,0,0,0.8);
    padding: 50px 10px;
    height: 400px;
}

.content-gallery .photo-gallery img{
     border: 1px solid #bbbab0;
     display: block;
     float: left;
     margin: 0 5px 10px 0;
}

.content-gallery .photo-gallery div img:last-child{
    margin-right: 0;
}


