
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

    .content {
        width: 100%;
    }

    .contacts .row{
        margin: 2% 0;
    }

    .subscribe-form {
        width: 53%;
    }

    .timer-container{
        padding-bottom: 25px;
    }

    .home .social {
        padding-bottom: 50px;
    }

    .timer-container{
        width: 50%;
    }

    .about, .portfolio {
        padding: 0 20px;
    }

    .about figure {
        width: 25%;
        padding: 50px 0 0 0 ;
        float: left;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .content {
        width: 100%;
    }

    .home .social{
        width: 40%;
    }

    .subscribe-form {
        width: 70%;
    }

    .home .headline_small{
        padding: 25px 30px 70px 30px;
    }

    .timer-container{
        width: 75%;
    }

    .home .social{
        padding-bottom: 50px;
    }

    .about, .portfolio {
        padding: 0 20px;
    }
}

